body {
    background-color: #fefae0;
    text-align: center; 
    background-size: 100%;
    font-family: 'Comic Sans MS', cursive, sans-serif;

    height: 1000000px;


}

div.container {
    background-color: #d4a373; 
    width: 80%;    
    height: 80%;

    position: absolute;
    top: 10%;
    left: 10%;
    box-shadow: 10px 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

div.text {
    background-color: #faedcd; 
    width: 50%;

    box-shadow: 10px 10px;

    height: 300px;

    border-radius: 4px;

    margin-left: 5%;
}

h3{
    font-size: 22px;
    
}

*{
    border-radius: 4px; 
      
}

a {
    text-decoration: none;
    color: #000;
    text-underline-offset: 0px;
}

div.pankisar{
    background-color: #ccd5ae; 
    width: 80%;
    height: 80%;

    box-shadow: 10px 10px;

    position: absolute;
    top: 105%;
    left: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
}